
html {
  min-height: 100% !important;
}

body {
  color: white;
  background: rgb(20, 20, 20);
  font-weight: 200;
  min-height: 100% !important;
}

.navbar {
  font-size: 48px;
  background-color: rgba(0, 0, 0, .3);
  -webkit-backdrop-filter: saturate(180%) blur(4px);
  backdrop-filter: saturate(180%) blur(6px);
}

.title {
  transition-duration: 0.1s;
  font-family: 'Poppins', sans-serif;
}

.title:hover {
  transform: scale(1.1);
}

.splashtext {
  transition-duration: 0.2s;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-image: url(https://media4.giphy.com/media/njZPp4pQ0g4fe/giphy.gif?cid=ecf05e47s81zk5t6i7r6yp3tji6sib2roxkx35hfwa0x547o&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: 50% 40%;
  color: rgb(255, 255, 255, 0.25);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 6px;
}


.error {
  padding-top: 60px;
  font-size: 100px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.75rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  padding-top: 14px;
  font-weight: bold;
  font-size: 1rem;
}

a {
  color: white;
}

a:hover {
  color: rgb(240, 240, 240);
  transform: scale(1.2);
  text-decoration: none;
}

.content {
  padding-top: 100px;
  min-height: 200px;
}

.mainpage {
  padding-top: calc(25vh - 64px);
}

span.icon {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition-duration: 0.1s;
  font-size: 70px;
  padding: 10px;
}

span.icon:hover {
  transform: scale(1.2);
}

.social-mainpage {
  padding-top: 64px;
  padding-bottom: 64px;
}

.social {
  padding: 10px;
}

.links {
  padding: 10px;
}

.copyright {
  padding: 10px;
}

.footer-links {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .splashtext {
    font-size: 5rem;
  }

}

@media screen and (max-width: 767.98px) {
  .splashtext {
    font-size: 3.5rem;
  }
}
