
html {
  min-height: 100% !important;
  height: 100% !important;
}

body {
  color: white;
  background: radial-gradient(circle, rgb(0, 70, 140) 0%, rgb(0, 20, 40) 100%);
  font-weight: 200;
  font-family: Poppins, Roboto, 'Helvetica Neue', sans-serif;
  min-height: 100% !important;
  height: 100% !important;
}

.navbar {
  font-size: 48px;
  background-color: rgba(0, 0, 0, .7);
  -webkit-backdrop-filter: saturate(180%) blur(4px);
  backdrop-filter: saturate(180%) blur(6px);
}

.title {
  transition-duration: 0.4s;
}

.title:hover {
  transform: scale(1.1);
}

.splashtext {
  transition-duration: 0.2s;
}

.splashtext:hover {
  transform: scale(1.1);
}

.error {
  padding-top: 60px;
  font-size: 100px;
}

h2 {
  padding-top: 20px;
  font-weight: 200;
}

h3 {
  padding-top: 20px;
  font-weight: 200;
}

a {
  color: white;
}

a:hover {
  color: rgb(240, 240, 240);
  transform: scale(1.2);
  text-decoration: none;
}

.content {
  padding-top: 100px;
  min-height: 200px;
}

.mainpage {
  padding-top: calc(25vh - 64px);
}

span.icon {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition-duration: 0.2s;
  font-size: 50px;
  padding: 10px;
}

span.icon:hover {
  transform: scale(1.2);
}

.social-mainpage {
  padding-top: 64px;
  padding-bottom: 64px;

}

.social {
  padding: 10px;
}

.links {
  padding: 10px;
}

.copyright {
  padding: 10px;
}

.footer-links {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .splashtext {
    font-size: 74px;
  }
}

@media screen and (max-width: 767.98px) {
  .splashtext {
    font-size: 48px;
  }
}
